@import url('https://fonts.google.com/specimen/Josefin+Sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }





.attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }

 .darkmode{
    background-color: black;
 }

 .heading{
   
   color:white;
   letter-spacing: 8px;
   left: 450px;
   top: 45px;
   position:absolute;
   
 }

 .moon{
  right: 480px;
   top: 45px;
   position:absolute;
 }

 .topbackground{
   background-color: transparent;
   position: relative;
 }


 .todo-form{
   position: absolute;
   top: 120px;
   left: 450px;
 }

 .todo-text{
  border: 12px solid white;
  border-radius: 5px;
  width: 500px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: none;
  background:white;

  }

 .todo-tab{
   border: none;
   border-color: white;
   
  
 }

 .todo-list{
   border: 12px solid white;
  border-radius: 5px;
  width: 500px;
  margin-top: 15px;

 }

 .new-todo{
   display:flex;
   flex-direction: row;
   background-color: hsl(0, 0%, 98%);
   padding: 10px;
   background: white;  
   border-bottom: 0.5px solid gray;
 }
 
.save{
   box-shadow: none;
   border: 3px solid white;
}

.completed-task {
  text-decoration: line-through;
  color: grey;
}


.endtext{
  background-color: hsl(0, 0%, 98%);
}

    @media screen and (max-width:375px){
       
   }

   @media screen and (min-width: 376px) and (max-width: 1440px){
      

 
   }



  
   