*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }





.attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }

 .darkmode{
    background-color: black;
 }

    @media screen and (max-width:375px){
       
   }

   @media screen and (min-width: 376px) and (max-width: 1440px){
      

 
   }



  
   